<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>{% block title %}EShopper - Bootstrap Shop Template {% endblock %}</title>
    {% include 'frontend/partial/head.html' %}
    {% block head %} {% endblock %}
</head>
<body>
{% include 'frontend/partial/body/topbar.html' %}
{% include 'frontend/partial/body/navbar.html' %}

{% block body %} {% endblock %}

{% include 'frontend/partial/footer.html' %}
{% include 'frontend/partial/footerjs.html' %}
{% block footer %} {% endblock %}
</body>
</html>